[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pylint = "*"
psycopg2-binary = "*"
djangorestframework = "*"
pyjwt = "*"
channels = "*"
channels-redis = "*"
python-dotenv = "*"
dj-database-url = "*"
django-on-heroku = "*"
gunicorn = "*"
uvicorn = "*"
uvloop = "*"
httptools = "*"
websockets = "*"

[requires]
python_version = "3.8"
