@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;

  ::selection {
    background-color: #fef15e;
    color: #333;
  }
}

button {
  font-family: 'Montserrat Alternates', sans-serif;
}

.nav-right {
  margin-right: 5px;
  width: 200px;
}

.nav-left {
  margin-left: 20px;
  > * {
    margin-right: 10px;
  }
}
  
.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.1rem;
  &::selection {
    background-color: transparent;
  }
}


// GEOCODER

.react-geocoder {
  width: 100%;
}

.react-geocoder-results {
  position: absolute;
  z-index: 2;
  width: 100%;
}

// SCROLLBAR

::-webkit-scrollbar {
  width: 3px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #aeb4ba;
}

@keyframes toastAuto {
  0%, 100% {
    top: 0;
  }
  25%, 75% {
    top: calc(3rem - 2px);
  }
}

// EMOJI

.emoji-mart {
  position: absolute;
  bottom: 105px;
  right: 10px;
}
